<template name="mypageTemplate">
    <div class="panel panel-default cs-list-item">
        <div class="panel-heading">
            <h3 class="panel-title clearfix">
                디바이스 목록
                {{#if currentUser}}
                    <button type="button" class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#register-device-modal">Register</button>
                {{/if}}
            </h3>
            {{>registerDeviceForm}}
        </div>
        <ul class="list-group">
            {{#each devices}}
                {{>mypageItemTemplate}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="registerDeviceForm">
    <div class="modal fade" id="register-device-modal" tabindex="-1" role="dialog" aria-labelledby="registerDeviceModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Register Device</h4>
                </div>
                <div class="modal-body">
                    {{>quickForm id="register-device-form" type="insert" collection=deviceCollection fields="deviceType, description"}}
                </div>
            </div>
        </div>
    </div>
</template>