<template name="dashboardItemTemplate">
    <div class="panel panel-default cs-list-item">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">
                {{description}}
                <button class="btn btn-xs btn-info pull-right detail">detail</button>
                <!--<a class="btn btn-xs btn-info pull-right">detail</a>-->
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default cs-list-item">
                        <div class="panel-heading">
                            <h3 class="panel-title">온도(&deg;C)</h3>
                        </div>
                        <div class="panel-body">
                            {{>dashboardTemperatureCircle}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default cs-list-item">
                        <div class="panel-heading">
                            <h3 class="panel-title">습도(%)</h3>
                        </div>
                        <div class="panel-body">
                            {{>dashboardHumidityCircle}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default cs-list-item">
                        <div class="panel-heading">
                            <h3 class="panel-title">조도(lx)</h3>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="dashboardTemperatureCircle">
    <div class="cs-circle" id="temp-circle-{{_id}}"></div>
</template>

<template name="dashboardHumidityCircle">
    <div class="cs-circle" id="humi-circle-{{_id}}"></div>
</template>